body{
   padding-top: 50px;
   padding-bottom: 20px;
   background-color: white;
}

.navbar {
   background-color: inherit;
   color: #2794b1; /*blue*/
   border: none;
   font-weight: bold;
}

.boldQuestion{
   text-align: left;
   font-size: 24pt;
   font-style: bold;
}

.text {
   text-align: left;
}



/*This is the css for the navbar hovers and links*/
.navbar-default .navbar-brand {
   padding-top: 5px;
   padding-bottom: 0px;
   padding-right: 10px;
   padding-left: 10px;
   
}

.navbar-default .navbar-header > a {
   color: #3da743; /*green*/
}

.navbar-default .navbar-header > a:hover,
.navbar-default .navbar-header > a:focus {
   color: #3da743; /*green*/
}

.navbar-default .navbar-nav > li > a {
   color: #3da743; /*green*/ 
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
   color: #2794b1; /*blue*/
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .active > a:hover {
   background-color: #49311c; /*brown*/
   color: #2794b1; /*blue*/
}

.navbar-right {
   padding-right: 20px;
} 


/*This is the css for the little icon the appears for small screens*/
.navbar-default .navbar-toggle {
   border-color: #3da743; /*green*/
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
   background-color: #49311c; /*brown*/
   border-color: #2794b1; /*blue*/
}

.navbar-default .navbar-toggle .icon-bar {
   background-color: #3da743; /*green*/
}



/* continer*/
@media (min-width: 768px) {
   .continer {
      max-width: 730px;
   }
}
.continer-narrow > hr {
   margin: 30px 0;
}

.container {
   background-color: #49311c; /*brown*/
   color: #2794b1; /*blue*/
}


/*Jumbotron style*/
.jumbotron {
   text-align: center;
   background-color: inherit;
}

/*JMC Adds*/
.carousel_section {
	text-align: center;
   background-color: inherit;
}

/* Carousel base class */
   .carousel {
      margin-bottom: 60px;
   }

   .carousel .container {
      position: relative;
      z-index: 9;
   }

   .carousel-control {
      height: 80px;
      margin-top: 0;
      font-size: 120px;
      text-shadow: 0 1px 1px rgba(0,0,0,.4);
      background-color: transparent;
      border: 0;
      z-index: 10;
      position: absolute;
      top: 20%;
      left: 15px;
      width: 40px;
      text-align: center;
   }

   .carousel-control.left{
      background-image: none;
   }
   
   .carousel-control.right{
      background-image: none;
   }
   
   .carousel_section{
      width: 600px;
      height: 400px;
      margin: 0px auto;
   }
   
   .carousel-inner{
      width: 600px;
      height: 400px;
   }
   
   .carousel-inner .item {
       /*position: absolute;*/
      width: 100%;
      height: 100%;
      /*background-attachment: scroll;*/
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      /*text-align: center;
      max-height: 2000px;*/
   }
   
   .carousel img {
      /*display: inline-block;
      width: auto;
      
      position: absolute;
      top: 0;
      left: 0;
      
      min-width: 100%;
      min-height: 100%;
      height: auto;
	  width="2737" height="1960"*/
   }

   .carousel-caption h1,
   .carousel-caption .lead {
      margin: 0;
      line-height: 1.25;
      color: #fff;
      text-shadow: 0 1px 1px rgba(0,0,0,.4);
   }
   .carousel-caption .btn {
      margin-top: 10px;
   }

/*End of JMC*/

/*for the packages div*/
.packages{
   text-align: left;
   background-color: inherit;
}

/*phpSurvay*/
.phpSurvay {
    text-align: left;
    background-color: inherit;
    padding-top: 20px;
    padding-bottom: 20px;
}

.header {
    text-align:center;
}

/*Picture Styles*/
.family_pic {
    height: 286px;
    width: 400px;
}

.my_pic {
    height: 600px;
    width: 400px;
}

/*Footer styles*/
.footer {
    padding-top: 20px;
    font-family:'Palatino Linotype';
    font-size: small;
    font-style: italic;
    text-align: center;
    color: #2794b1; /*blue*/
}

/*assignments list style*/
.assignments {
   text-align: left;
   font-family:'Palatino Linotype';
   font-size: large;
}